.quoteBlock {
    /* margin: 39px 142px 25.16px 80px; */
    /* margin: 39px 16.44% 25.16px 9.26%; */
    margin: 67px 13.56% 57px 12.54%;
    /* margin: 27px 0px 22px 0px; */
    /* border: 1px solid red; */
    position: relative;
    /* direction: ltr; */
}

.quoteBlock h4 {
    font-family: "Roboto", sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 28px;
    line-height: 33px;
    font-feature-settings: "kern" off;
    color: #2d3e4e;
    direction: rtl;
}

.innerQuote {
    margin: 5px 29px 5px 32px;
    direction: ltr;
}

.innerQuote p {
    font-family: "Goosebreak", serif;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 35px;
    color: #2d3e4e;
    direction: ltr;
}

.quotationMarks {
    display: block;
    position: absolute;
    width: 30px;
    height: 37px;
    top: 0;
    /* border: 1px solid red; */
    direction: rtl;
}

.qMark {
    display: block;
    position: absolute;
    background-image: url("../Images/BGHighlight.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 37px;
    height: 12px;
    top: 0;
    /* border: 1px solid red; */
}

.q1 {
    transform: rotate(90deg) rotateY(180deg) translateY(50%);
}

.q2 {
    transform: rotate(90deg) translateY(-90%);
}

@media only screen and (max-width: 800px) {
    .quoteBlock {
        margin: 55px 7.18% 45px 5.59%;
    }
    .quoteBlock h4 {
        font-size: 21px;
    }
    .innerQuote {
        /* margin: 5px 29px 5px 32px; */
        margin: 3.75px 21.75px 3.75px 24px;
    }
    .innerQuote p {
        font-size: 21px;
        line-height: 26.25px;
    }
    .quotationMarks {
        width: 22.5px;
        height: 27.75px;
    }
    .qMark {
        width: 27.75px;
        height: 9px;
        top: 0;
    }
}